<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="fisierClienti" value="Clienti.txt"/>
		<add key="fisierAntrenori" value="Antrenori.txt"/>
		<add key="fisierAngajati" value="Angajati.txt"/>
		<add key="fisierAbonamente" value="Abonamente.txt"/>
	</appSettings>
</configuration>